<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Prédiction des Prix</title>
</head>
<body>
	<h2>Estimation du Prix</h2>
	<form method="post" action="/prediction">
		Surface:<input type="number" name="surface" required><br>
		Salles de bain:<input type="number" name="rooms" required><br>
		Climatisation:<input type="number" name="clim" required><br>
		Etage:<input type="number" name="etage" required><br>
		Parking:<input type="number" name="parking" required>
		<button type="submit">PREDIRE</button>
	</form>
</body>
</html>